
@media screen and (max-width: 576px) and (orientation: portrait) {
    .titulo {
        height: 70px;
        line-height: 70px;
        font-size: 25px;
    }

    nav h1::after {
        content: 'MOBILE - PORTRAIT <= 576px';
        font-size: 20px;
    }

    #img1 {
        background-image: url('../images/mobile/portrait/banner_03.jpg');
        animation-delay: 0s;
    }
    #img2 {
        background-image: url('../images/mobile/portrait/banner_03.jpg');
        animation-delay: 7s;
    }
    #img3 {
        background-image: url('../images/mobile/portrait/banner_03.jpg');
        animation-delay: 14s;
    }
}
